/* background color for editing my photo */

body{
    margin: 5em;
    /* background-image:url(codephoto.jpg.jpg); */
    background-image: url(https://images.unsplash.com/photo-1619051309658-a5977c3e4fd7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}

/* 
img{
    width: 500px;
    height: 500px;
} */

h1{
    color: red;
    margin: 5em;
    text-align: center;
    background-clip: padding-box;

}
